.workout-detail
    h2 A WORKOUT!
    p=`${wrestler.name}`
    p=`Age: ${wrestler.age}`
    br
    p=`${workout.date} [${workout.id}]`
    br
    include exercise-set-detail
    button.save Save Workout
