div.wrestler-list
    p Workouts
    table: tbody
        tr
            th View
            th Name
            th ID #
            th # Workouts
            th Delete
        each wrestler in wrestlers
            tr
                td.view: a(href='./wrestlers/'+wrestler.id) View
                td.name= wrestler.name
                td.id= wrestler.id
                td.workouts= (wrestler.workouts && wrestler.workouts.length) || 0
                td.delete: a(href='#') X
