swagger: "2.0"
info:
  description: "Weightroom Backend!"
  version: "0.0.1"
  title: "Weightroom"
  contact:
    email: "admin@heinousindustries.com"
host: "api.heinous.industries"
basePath: "/v2"
tags:
- name: "wrestler"
  description: "Manage and Update Wrestlers"
- name: "exercise"
  description: "Our Exercise Library"
- name: "routine"
  description: "Add and View Workout Routines"
- name: "user"
  description: "Operations about login users"
schemes:
- "http"
paths:
  /wrestler:
    post:
      tags:
      - "wrestler"
      summary: "Add a new wrestler"
      description: ""
      operationId: "addWrestler"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Wrestler to be added"
        required: true
        schema:
          $ref: "#/definitions/Wrestler"
      responses:
        405:
          description: "Invalid input"
      security:
      - weightroom_auth:
        - "write:wrestler"
        - "read:wrestler"
    put:
      tags:
      - "wrestler"
      summary: "Update an existing wrestler"
      description: ""
      operationId: "updateWrestler"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Wrestler that needs updated"
        required: true
        schema:
          $ref: "#/definitions/Wrestler"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Wrestler not found"
        405:
          description: "Validation exception"
      security:
      - weightroom_auth:
        - "write:wrestler"
        - "read:wrestler"
  /exercise:
    get:
      tags:
        - "exercise"
      responses:
        default:
          description: "Stuff"
  /routine:
    get:
      tags:
        - "routine"
      responses:
        default:
          description: "Other Stuff"
  /user:
    get:
      tags:
        - "user"
      responses:
        default:
          description: "Other Stuff"
securityDefinitions:
  weightroom_auth:
    type: "oauth2"
    authorizationUrl: "http://petstore.swagger.io/oauth/dialog"
    flow: "implicit"
    scopes:
      write:wrestler: "track and modify wrestler's exercises"
      read:wrestler: "view wrestler's fitness history"
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
definitions:
  Wrestler:
    type: "object"
    required:
    - "name"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
        example: "Joe"
    xml:
      name: "Wrestler"
  ApiResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      type:
        type: "string"
      message:
        type: "string"
