html
    head
        title= title
        link(rel='stylesheet' href='/app.css')
    body
        h1= header
        div= content
        hr
        nav
            a(href="/") Index
            a(href="/wr") Weight Room
            a(href="/sink") Kitchen Sink
        div
            h2 Todo List
            ul
                li TODO: Find better fonts.
                    ul: li Headers
                        ul
                            li Bitter #[a(href='http://brick.im/fonts/bitter/') Brick.im]
                            li Aleo #[a(href='http://brick.im/fonts/aleo/') Brick.im]
                            li Josefin Slab #[a(href='https://fonts.google.com/specimen/Josefin+Slab') G.Fonts]
                    ul: li Body/Copy
                        ul
                            li PT Sans #[a(href='http://brick.im/fonts/ptsans/') Brick.im]
                            li Raleway #[a(href='http://brick.im/fonts/raleway/') Brick.im]
                    ul: li Bonus Serifs
                        ul
                            li Crimson #[a(href='http://brick.im/fonts/crimson/') Brick.im]
                            li Vollkorn #[a(href='http://brick.im/fonts/vollkorn/') Brick.im]

                li TODO: Figure out Typography and Header sizes
                li TODO: Figure out.. patterns, I guess? Bleh.
