
extends templates/base.pug

block content
    div.rando-wrestler Weeeeeee
        button(href='#') Add Wrestler
        button(href='#') Add Workout
        button(href='#') Add Set
        button(href='#') Add Exercise
        button(href='#' disabled) Add Routine
