
extends templates/base.pug

block content
    div
        p Workouts
        table
            tr
                th Name
                th ID #
                th # Workouts
            each wrestler in wrestlers
                tr
                    td= wrestler.name
                    td= wrestler.id
                    td= wrestler.workouts.length
        //- form(action='/wr/wrestler/add' method='post')
    div
        form(id='wrestler-form')
            input#name(name='name' type='text' placeholder='Name')
            input#age(name='age' type='text' placeholder='Age')
            button#submit(name='submit') Submit
