nav: ul
    li: span= location || 'here::'
    li: a(href="/") Index
    li: a(href="/wr") Weight Room
    li: a(href="/wr/wrestlers") Wrestlers
    li.spacer
    li: a(href="/wr/rando") Rando!
    li: a(href="/sink") Kitchen Sink
